/* App.css */
body {
  background-color: #fff;
}

.app-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: flex-start;
}

.app {
  background-color: #fff;
  text-align: center;
  width: 100%;
  padding: 0 20px;
  max-width: 1400px;
}

.header {
  margin-bottom: 20px;
}

.app-title {
  color: #3772ff;
}

.alt-logo {
  /* color: #0056b3; */
  font-family: monospace;
  font-weight: bold;
  font-size: 16px;
}

.search-bar {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  padding: 5px;
  font-size: 16px;
}

.add-button {
  text-align: center;
  margin-bottom: 30px;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.add-button button {
  display: inline-block;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  background-color: #0056b3;
  color: #fff;
  transition: background-color 0.3s, transform 0.3s;
}

.add-button button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.add-button button:focus {
  outline: none;
}

.add-button button:hover,
.add-button button:focus {
  cursor: pointer;
}

.add-button .button-icon {
  margin-right: 10px;
  vertical-align: middle;
}

.button-icon {
  margin-right: 5px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-add-dialog {
  background-color: #fff;
  width: 90%;
  max-width: 500px;
  padding: 20px;
  border-radius: 8px;
}

.modal-dialog {
  background-color: #fff;
  width: 90%;
  max-width: 500px;
  padding: 20px;
  border-radius: 8px;
  background-color: #fafaed;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.modal-title {
  font-size: 20px;
  font-weight: bold;
}

.modal-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.modal-body .form-group {
  margin-bottom: 20px;
}

.modal-body textarea {
  flex: 1;
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.letters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.letter-card {
  width: 200px; /* Adjust the width as per your preference */
  height: 150px; /* Adjust the height as per your preference */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.card {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px;
  margin: 5px;
  background-color: #fefbf0;
}

.card-text {
  font-size: 16px;
  font-family: monospace;
}

.card-preview {
  font-family: monospace;
  font-size: 14px;
}

.btn-primary {
  background-color: #3772ff;
  color: #fff;
  border: none;
}

.btn-primary:hover {
  background-color: #2352e6;
}

.btn-danger {
  background-color: #ff4d4d;
  color: #fff;
  border: none;
}

.btn-danger:hover {
  background-color: #e63f3f;
}

.modal-body {
  padding: 20px;
}

.modal-body .form-group {
  margin-bottom: 20px;
}

.modal-body label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.modal-body input,
.modal-body textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.modal-footer {
  padding: 10px 20px;
  border-top: 1px solid #ccc;
  text-align: right;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.form-group label {
  width: 100px;
  margin-right: 10px;
}

.form-group input {
  flex: 1;
}

.big-textarea {
  height: 150px;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  font-size: 30px;
  color: #000;
}

.character-count {
  position: bottom;
  font-size: 12px;
  color: #777;
}

.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3;
}

.submit-icon {
  margin-left: 8px;
}

.timestamp-text {
  font-family: 'Courier New', Courier, monospace; /* Change 'Courier New' to your desired font */
  font-size: 14px;
  color: #333; /* Adjust color as needed */
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(
    55,
    114,
    255,
    0.8
  ); /* Adjust the alpha value (0.8) for medium transparency */
  color: #fff; /* Adjust text color as needed */
  text-align: center;
}

.fab {
  position: fixed;
  bottom: 60px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff;
  font-size: 24px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.fab:hover {
  background-color: #0056b3;
}

/** View Letter **/
.letter-info {
  white-space: pre-wrap;
  text-align: left;
  font-family: monospace;
  font-size: 16px;
}

.letter-text {
  font-family: monospace;
  font-size: 16px;
  white-space: pre-wrap;
  text-align: left;
}

.timestamp-text {
  font-family: 'Courier New', Courier, monospace; /* Retained from existing CSS */
  font-size: 14px; /* Retained from existing CSS */
  color: #333; /* Retained from existing CSS */
}

@media only screen and (max-width: 768px) {
  .letters-container {
    flex-wrap: wrap;
  }

  .letter-card {
    width: calc(40.33% - 1px); /* 33.33% width for each item with some margin */
    margin: 1px;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .logo {
    height: 50px;
    max-width: 70%;
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 11px;
  }

  .app-container {
    width: 100%;
  }

  .search-bar {
    margin: 0 auto; /* Center the search bar horizontally */
    width: 90%;
    margin-left: 12px;
    margin-bottom: 20px;
  }

  .modal {
  }

  .modal-add-dialog {
  }

  .form-group label {
    display: flex; /* Ensure labels appear on their own line */
    font-weight: bold; /* Optionally, make labels bold for emphasis */
    width: 70px;
  }

  .form-group input {
    width: 1px;
  }

  .form-group textarea {
    box-sizing: border-box; /* Include padding and border in the width calculation */
  }
}
